.nav-buttons[data-v-ece7f625]{display:flex;gap:5px}.navbar .container[data-v-ece7f625]{max-width:900px}.navbar-brand[data-v-ece7f625]{font-size:1.1rem}.active[data-v-ece7f625]{background-color:#0d6efd!important;color:#fff!important}
